* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frome {
  width: 600px;
  height: 600px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.trapez {
  width: 150px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px #00aaff) drop-shadow(0 0 10px #00aaff)
    drop-shadow(0 0 15px #00aaff) drop-shadow(0 0 20px #00aaff);
}
.trapez-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);

  transform-origin: center;
  transform: var(--trapez-deg) translateY(-230px);
}
